header {
    justify-content: space-between;
    background-color: $primary-color;
    color: $primary-font-color-light;
    padding: 0 20px 0 20px;
    height: $header-height;
    display: grid;
    top: 0;
    width: 100%;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: $y-shadow;
    div {
        text-align: center;
        vertical-align: middle;
        align-self: center;
    }
    .title {
        text-align: left;
        text-transform: uppercase;
    }
    .action-bar {
        text-align: right;
        div {
            margin-left: 1rem;
        }
    }
    input {
        margin-right: 10px;
    }
    .search-bar {
        display: flex;
        input {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            &::placeholder {
                opacity: 1;
                color: $primary-font-color-light;
            }
        }
    }
}

@include mediaSm {
    header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "searchbar searchbar actions";
        .title {
            display: none;
        }
        .search-bar {
            grid-area: searchbar;
        }
        .action-bar {
            grid-area: actions;
        }
    }
}

.tooltip {
    visibility: hidden;
    width: 120px;
    height: 40px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 1;
    &.show {
        visibility: visible;
    }
}