.icon-button {
    padding: 5px;
    cursor: pointer;
    i {
        vertical-align: middle;
    }
}

.player {
    @include easeOut;
    position: fixed;
    height: 150px;
    width: 350px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    .material-icons {
        font-size: 3em;
    }
    &.show {
        bottom: 1em;
    }
    &.close {
        bottom: -150px;
    }
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "datetime head actions" "rec-length head actions";
    grid-gap: 10px;
    color: $primary-font-color-dark;
    padding: 10px;
    background-color: $card-color;
    box-shadow: $default-shadow;
    .card-head {
        grid-area: head;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            display: block;
            text-align: center;
        }
    }
    .card-datetime {
        grid-area: datetime;
    }
    .card-recid {
        grid-area: rec-id;
    }
    .card-length {
        grid-area: rec-length;
    }
    .actions {
        grid-area: actions;
        right: 0;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .icon-button {
        margin-left: 5px;
        .material-icons {
            color: $primary-font-color-dark;
        }
    }
    .cardEdit {
        color: $primary-font-color-dark;
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.6);
        border-bottom: 1px solid rgba($color: #000, $alpha: 0.7);
        text-transform: uppercase;
        font-weight: bold;
    }
}

button {
    background: none;
    text-transform: uppercase;
    border: 1px solid rgba($color: #fff, $alpha: 0.6);
    border-radius: 4px;
    color: $primary-font-color-light;
    padding: 6px 12px;
    display: inline-block;
    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

input,
textarea {
    font-family: "Raleway", sans-serif;
    background: rgba($color: #fff, $alpha: 0.3);
    padding: 5px 16px;
    border: 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.6);
    color: #f2f2f2;
    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.4);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.7);
    }
}

.overlay-invisible {
    display: none;
}

.overlay-visible {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .dialog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "title" "message" "actions";
        .title {
            grid-area: title;
        }
        .message {
            grid-area: message;
        }
        .actions {
            grid-area: actions;
            button {
                background: $primary-color;
                text-transform: uppercase;
                border: 1px solid rgba($color: #fff, $alpha: 0.6);
                border-radius: 4px;
                color: $primary-font-color-light;
                padding: 6px 12px;
                display: inline-block;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }
    }
}