@import "config";
@import "elements";
@import "fab";
@import "appBar";
@import "navBar";
@import "recordView";
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: $surface-color;
    overflow-x: hidden;
}

main {
    padding: $header-height 10px 10px 10px;
    height: 100%;
    width: 100vw;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
}